/* tables */
table.tablesorter {
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.png);
	background-repeat: no-repeat;
	background-position: left;
	cursor: pointer;
	padding-left: 20px;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.png);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.png);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

/* tabs */
body
{
	background:#FFF;
}

/*a,*/
a:hover{
	text-decoration:none;
	color:#FFF;
}

ul,ol
{
	list-style:none;
}

.wrapper
{
	max-width:1280px;
	width:95%;
	margin:0 auto;
	position:relative;
}

.main
{
	width:100%;
	max-width:500px;
	margin:50px auto;
}

.main-desc{
	font-size:16px;
	margin:0 0 50px 0;
}

.tab
{
	float:left;
	display:block;
	padding:10px 20px;
	text-decoration:none;
	border-radius:5px 5px 0 0;
	background:#F9F9F9;
	color:#777;
}

.tab.active,.tab:hover
{
	background:#DDD;
	color:#222;
}

.content
{
	display:none;
	clear:both;
	background:#FFF;
	padding:20px;
}

.content.active
{
	display:block;
}